//Transition
$defaultTransitionMenu: all ease 0.2s;
$defaultTransitionButton:all ease 0.7s;
$defaultTransitionCard:all ease 1s;

//Size
$sizeButton: 17px;
$size_h1: 80px;
$size_p: 20px;

//Line-height
$lineHeight_h1:77px;

//Background
$defaultBackgroundButton: #5454D4;
$defaultBackgroundButtonActive: #2d2d6c;

//Color
$defaultColorButton: white;
$defaultColorHover_p: black;
