$default-transition-menu: all ease 0.2s;
$default-transition-button: all ease 0.7s;
$default-transition-card: all ease 1s;
$size-button: 17px;
$size-h1: 80px;
$size-p: 20px;
$line-height-h1: 77px;
$default-background-button: #5454d4;
$default-background-button-active: #2d2d6c;
$default-color-button: white;
$default-color-hover-p: white;
