@media screen and (max-width: 1200px) {
    .main-landing {
        gap: 1%;
    }

    .main-landing__img {
        width: 40%;
        height: 40%;
    }

    .main-landing__text {
        width: 432px;
        height: auto;
    }

    /*hero2*/
    .main-landing__title-hero {

    }

    .main-landing__hero2-img {
        width: 40%;
        height: 40%;
    }

    /*hero3*/
    .main-landing__hero3-img {
        width: 40%;
        height: 40%
    }

    /*ribbon*/
    .main-landing-ribbon {
        flex-wrap: wrap;
    }

    /*ribbon2*/
    .main-landing-facilities {
        flex-wrap: wrap;
    }

    .main-landing-pricing__content {
        flex-direction: column;
        gap: 0px;
    }
}

@media screen and (max-width: 1000px) {
    html, body {
        margin-left: 10px;
    }

    .main-landing {
        padding: 5px;
    }

    .main-landing__title {
        width: 80%;
        height: 150px;
        line-height: 57px;
        font-size: 60px;
        margin-bottom: 15px;
    }

    .main-landing__title-hero {
        font-size: 50px;
    }
}

@media screen and (max-width: 790px) {
    .main-landing__wrapper {
        width: 60%;
    }
}

@media screen and (max-width: 650px) {
    .main-landing {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-landing__wrapper {
        gap: 10px;
        order: 2;
    }

    .main-landing__title {
        width: 100%;
        text-align: center;
        line-height: 57px;
        font-size: 60px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 570px) {
    .main-landing-pricing {
        width: 100%;
        justify-content: center;
    }

    .main-landing-pricing__content {
        width: 100%;
    }

    .main-landin-pricing__plan {
        font-size: 30px;
        width: 80%;
    }
}

@media screen and (max-width: 530px) {
    .main-landing__title {
        width: 100%;
        text-align: center;
        line-height: 47px;
        font-size: 40px;
        margin-bottom: 15px;
    }

    .main-landing__text {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .main-landing__button {
        margin-right: 40px;
        width: 111px;
        height: 40px;
        border-radius: 10px;
        font-size: 16px;
    }

    .main-landing__button-svg {
        height: 40px;
        width: 40px;
    }
}

@media screen and (max-width: 410px) {
    .main-landin-pricing__swith {
        width: auto;
        height: auto;
    }

    .main-landing-pricing__button {
        padding: 13px 45px 13px 45px;
    }
}
